body
{
   background-color: #FF0000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px #CCCCCC solid;
}
#texto
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   overflow: auto;
   resize: none;
}
#texto:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Button1
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#Button2
{
   border: 1px #2E6DA4 solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#printer
{
   border: 1px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#printer:focus
{
   border-color: #66AFE9;
   -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Label4
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: left;
   vertical-align: middle;
}
#Image1
{
   border: 0px #000000 solid;
   padding: 0px 0px 0px 0px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Label1
{
   border: 0px #CCCCCC solid;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   text-align: center;
   vertical-align: middle;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text1
{
   position: absolute;
   left: 3%;
   top: 3%;
   width: 27%;
   height: 3%;
   z-index: 7;
   text-align: left;
}
#Label3
{
   position: absolute;
   left: 18%;
   top: 28%;
   width: 10%;
   height: 4%;
   height: 0%;
   z-index: 3;
}
#Label4
{
   position: absolute;
   left: 18%;
   top: 64%;
   width: 13%;
   height: 4%;
   height: 0%;
   z-index: 4;
}
#wb_Image1
{
   position: absolute;
   left: 37%;
   top: 1%;
   width: 25%;
   height: 25%;
   z-index: 5;
}
#printer
{
   position: absolute;
   left: 34%;
   top: 63%;
   width: 45%;
   height: 4%;
   height: 0%;
   z-index: 1;
}
#Layer2
{
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 8;
}
#texto
{
   position: absolute;
   left: 18%;
   top: 34%;
   width: 60%;
   height: 20%;
   z-index: 2;
}
#Button1
{
   position: absolute;
   left: 39%;
   top: 78%;
   width: 20%;
   height: 5%;
   z-index: 0;
}
#Button2
{
   position: absolute;
   left: 39%;
   top: 85%;
   width: 20%;
   height: 5%;
   z-index: 0;
}
#Button8
{
   position: absolute;
   left: 39%;
   top: 97%;
   width: 20%;
   height: 5%;
   z-index: 0;
}
#Label1
{
   position: absolute;
   left: 18%;
   top: 94%;
   width: 60%;
   height: 4%;
   height: 0%;
   z-index: 6;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#Layer2
{
   visibility: visible;
   display: inline;
   background-color: #FFFFFF;
   background-image: none;
}
#texto
{
   left: 8%;
   top: 31%;
   width: 78%;
   height: 20%;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Button1
{
   left: 34%;
   top: 75%;
   width: 30%;
   height: 5%;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#Button2
{
   left: 34%;
   top: 83%;
   width: 30%;
   height: 5%;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   background-color: #3370B7;
   background-image: none;
}
#printer
{
   left: 30%;
   top: 61%;
   width: 56%;
   height: 4%;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: #FFFFFF;
   background-image: none;
}
#Label3
{
   left: 8%;
   top: 25%;
   width: 15%;
   height: 4%;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#Label4
{
   left: 8%;
   top: 61%;
   width: 19%;
   height: 4%;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#wb_Image1
{
   left: 25%;
   top: 2%;
   width: 40%;
   height: 22%;
   visibility: visible;
   display: inline;
}
#Label1
{
   left: 4%;
   top: 93%;
   width: 88%;
   height: 4%;
   visibility: visible;
   display: inline;
   color: #000000;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   left: 4%;
   top: 2%;
   width: 78%;
   height: 3%;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
}
